# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Testing
coverage

# Misc
.DS_Store
*.log

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.local
.env.production

# IDE
.vscode
.idea
